.row {
  margin-left: 20px;
  color: #fff;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow: auto;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  max-width: 100%;
  height: 200px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  height: 400px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
