.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 20px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
  margin-left: 10px;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav_black {
  background-color: #111;
}

.nav_ul {
  display: flex;
  color: #fff;
  list-style: none;
  justify-content: flex-end;
  margin-right: 5%;
}

.nav_li {
  margin-right: 20px;
  margin-top: 5px;
}
